@import url('//at.alicdn.com/t/font_614509_tsefae1g1mh4obt9.css');
.moduleContent {
	overflow: hidden;
	.mod {
		width: 820px;
		margin: 0 auto;
		display: flex;
		flex-dirction: row;
		border-radius: 10px;
		overflow: hidden;
		.leftContent {
			width: 200px;
			padding: 40px;
			color: #ffffff;
			background-color: #254665;
			.topInfo {
				display: flex;
	    	flex-direction: column;
	    	align-items: center;
				overflow: hidden;
				font-size: 18px;
				.imgLogo {
					width: 100px;
					height: 100px;
					margin-bottom: 10px;
					border-radius: 50%;
				}
			}
			.sectionInfo {
				margin-top: 20px;
				display: flex;
				flex-direction: row;
				justify-content: center;
				font-size: 12px;
				.comonStyle {
					display: flex;
	    		flex-direction: column;
				}
				.iconInfo {
					&>i {
						margin-top: 4px;
				    margin-bottom: 8px;
				    margin-right: 4px;
					}
				}
				.detailInfo {
					&>span {
						height: 24px;
					}
				}
			}
			.skillInfo {
				display: flex;
		    flex-direction: column;
		    align-items: center;
				font-size: 12px;
				.skillTitle {
					width: 130px;
			    margin-bottom: 20px;
			    margin-top: 30px;
					display: flex;
	    		flex-direction: row;
					font-size: 18px;
					.iconBorder {
						width: 25px;
				    height: 25px;
				    margin-right: 15px;
						display: flex;
				    flex-direction: row;
				    justify-content: center;
				    align-items: center;
				    border-radius: 50%;
				    background-color: #ffffff;
						&>i {
					    color: #254665;
						}
					}
				}
				.skillDetail {
					&>div {
						margin-bottom: 8px;
					}
					.skillText {
						display: flex;
	    			flex-direction: row;
	    			&>.progress {
	    				width: 100px;
	    				margin-right: 6px;
	    			}
					}
				}
				.hobbyWrap {
					width: 120px;
					display: flex;
	    		flex-direction: row;
	    		flex-wrap: wrap;
					.hobby {
						width: 50px;
						margin-right: 10px;
						margin-bottom: 10px;
						display: flex;
						flex-direction: column;
	    			align-items: center;
	    			&>div {
	    				padding: 4px 9px;
	    				margin-bottom: 3px;
					    border: 1px solid #ffffff;
					    border-radius: 4px;
					    &>.iconfont {
					    	font-size: 18px;
					    }
	    			}
					}	
				}
			}
		}
		.rightContent {
			width: 620px;
			padding: 36px 40px;
			color: #333333;
			background-color: #ffffff;
			.explainWrap {
				margin-bottom: 35px;
				font-size: 18px;
				.topTitle {
					margin-bottom: 10px;
					display: flex;
					flex-direction: row;
					align-items: baseline;
					.rightIco {
						width: 25px;
						height: 25px;
						margin-right: 15px;
						margin-bottom: 10px;
						display: flex;
				    flex-direction: row;
				    align-items: center;
				    justify-content: center;
				    border-radius: 50%;
						background-color: #254665;
						color: #ffffff;
					}
					&>span {
						width: 580px;
						border-bottom: 1px solid #cccccc;
					}
				}
				.graduationWrap {
					margin-bottom: 20px;
					font-size: 12px;
					&:last-child {
						margin-bottom: 0;
					}
					.graduation {
						display: flex;
				    flex-direction: row;
				    justify-content: space-between;
				    .specific {
							&>i {
								margin-right: 5px;
							}
						}
					}
					.special {
						margin-left: 22px;
						display: block;
					}
					.workTask {
						color: #666666;
					}
				}
			}
		}

		.ant-carousel .slick-slide {
		  height: 270px;
		  overflow: hidden;
		}
		.ant-carousel .slick-dots {
			&>li {
				&>button {
					background-color: #000;
					width: 20px;
				}
			}
			&>.slick-active {
				&>button {
					background-color: #ff5000;
				}
			}
		}
	}
	.banerContent {
		margin: 0 auto;
	}
	.tabContent {
		margin: 20px 0;
		display: flex;
		flex-direction: column;
    .tabWrap {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    	&>div {
    		margin-right: 20px;
			  font-size: 20px;
			  &>a {
			  	color: #434343;
			  }
    	}
    }
	}
}


